*{
   background-image: linear-gradient(to right, rgb(214, 36, 66),rgb(6, 175, 218) );
  margin: 0;
}

.div1{ 
    height:500px;
    width: 800px;
    background-image: url('web\ 2.png');
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:250px;
    margin-top: 50px;
    margin-right:0px;
    text-align: center;
    border: 17px double rgb(2, 0, 3)
  }
  
    .div2{
      background-image: none;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: black;
    }
    .div3{
      background-image: none;

    }
    h1,b{
      background-image: none;
    }
 
    h2{
      background-image: none;
      margin-top: 20px;
    }
     h3{
       background-image: none;
       margin-top: 20px;
       margin-left: 80px;
     }
     .div4{
       height: 250px;
       width: 250px;
       border-color: blueviolet ;
       border: 2px solid;
       border-top-left-radius: 2cm;
       border-top-right-radius: 2cm;
       border-bottom-right-radius: 2cm;
       border-bottom-left-radius: 2cm; ;
       margin-left: 400px;
       margin-top: 20px;
       background-image: radial-gradient(pink, rgb(43, 168, 226), silver);
     }
     h4{
      background-image: none;
      margin-top: 28px;
      
     }

     
 